.input {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: var(--box-shadow-line-button);
    font-family: var(--font-family);
    font-size: var(--font-size-xxs);
  }